Source Data and Processing/B - Output/datamap.cpg
Source Data and Processing/B - Output/datamap.prj
Source Data and Processing/B - Output/datamap.shp
Source Data and Processing/B - Output/datamap.shx
Source Data and Processing/B - Output/datamap.dbf
Source Data and Processing/A - Input/cbs_vk500_2019_vol.gpkg
Source Data and Processing/cbs_vk500_2019_vol.gpkg
Geofile convert.ipynb
1 - Source Data and Processing/A - Input/cbs_vk500_2019_vol.gpkg
1 - Source Data and Processing/cbs_vk500_2019_vol.gpkg
